html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f2f2f2;
    padding: 2vh 20px;
    max-height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vh 20px;
    max-height: 86vh;
}

h1 {
    font-weight: 700;
    margin: 0;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    width: fit-content;
    padding: .7rem .7rem;
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;
}

.table-container {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    border: 0.5px solid #d0cfcf;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}
